@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap");
html,
body {
  margin: 0;
  min-height: 100vh;
}

html {
  font-family: "Montserrat", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body header {
  background-color: #1f2024;
  color: white;
}

body header .header-container {
  padding: 0 2rem 2rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body header .header-container img {
  border: white 1px solid;
  height: 200px;
  border-radius: 0 0 4rem 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

body header .header-container .titles-container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  letter-spacing: 0.2rem;
  text-align: end;
}

body header .header-container .titles-container h1 {
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 600;
  margin: 0;
  -webkit-margin-after: 0 !important;
          margin-block-end: 0 !important;
  -webkit-margin-before: 0 !important;
          margin-block-start: 0 !important;
}

body header .header-container .titles-container h2 {
  padding: 1rem;
  margin: 0;
  font-size: 2rem;
  color: #719e64;
  font-weight: 600;
}

body main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "contact" "work" "education" "others" "skills";
}

body main section h3 {
  margin: 1.3rem 0 0.6rem 0;
  padding-left: 0.2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-left: #719e64 solid 0.45rem;
  border-bottom: #719e64 solid 0.45rem;
  display: inline-block;
}

body main .contact {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: contact;
}

body main .contact .contact-content .contact-item {
  margin-bottom: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main .contact .contact-content .contact-item span {
  margin-left: 1rem;
}

body main .work {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: work;
}

body main .work ul {
  padding: 0 0 0 2rem;
  margin: 0;
}

body main .work ul li {
  color: #719e64;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}

body main .work ul li .work-item-content {
  font-size: 1rem;
  color: black;
}

body main .work ul li .work-item-content .work-item-title {
  font-weight: 700;
  font-size: 1.1rem;
}

body main .work ul li .work-item-content .work-item-title span {
  margin-left: 0.5rem;
  color: #719e64;
}

body main .work ul li .work-item-content .work-item-time {
  font-weight: 600;
}

body main .work ul li .work-item-content .work-item-info {
  font-size: 0.9rem;
  font-weight: 400;
  font-style: italic;
}

body main .others {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: others;
}

body main .others .others-content .others-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.7rem;
}

body main .others .others-content .others-item span,
body main .others .others-content .others-item .others-car-items {
  margin-left: 1rem;
}

body main .education {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: education;
}

body main .education ul {
  padding: 0 0 0 2rem;
  margin: 0;
}

body main .education ul li {
  color: #719e64;
  font-size: 1.5rem;
  padding-bottom: 0.2rem;
}

body main .education ul li .education-item-content {
  font-size: 1rem;
  color: black;
}

body main .education ul li .education-item-content .education-item-title {
  font-size: 1.1rem;
  font-weight: 700;
}

body main .education ul li .education-item-content .education-item-time {
  font-weight: 600;
}

body main .education ul li .education-item-content .education-item-place {
  margin-left: 1rem;
  font-style: italic;
  font-size: 0.9rem;
}

body main .skills {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: skills;
}

body main .skills .skills-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .skills .skills-content .skills-section h4 {
  margin: 1.3rem 0 0.6rem 0;
}

body main .skills .skills-content .skills-section .skill-tag {
  border-radius: 0.4rem;
  display: inline-block;
  background-color: #d4e2d0;
  padding: 0.4rem;
  margin: 0.4rem 0.2rem;
}

@media (min-width: 700px) {
  body main {
    padding: 1rem 4rem;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "contact work" "others education" "skills skills";
  }
  body main .contact {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: contact;
  }
  body main .work {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: work;
  }
  body main .education {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: education;
  }
  body main .others {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: others;
  }
  body main .skills {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: skills;
  }
}

@media (min-width: 1100px) {
  body main {
    padding: 1rem 9rem;
  }
  body main .skills .skills-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

body footer {
  height: 60px;
  background-color: #1f2024;
}

.green-border {
  height: 20px;
  background-color: #719e64;
}
